<div class = "container mb-4">
<h1>Places</h1>
</div>

<div class="container mb-4">
<ul>
  <% for place in @places %>
    <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
  <% end %>
</ul>

<p>
  <a href="/places/new" class="btn btn-outline-secondary">New place</a>
</p>
</div>